@using MRP_Domain.Entity
@model Order[]
@{
    ViewData["Title"] = "Заказы";
}

<!DOCTYPE html>

<html>
<head>
    <title>Все заказы</title>
</head>
<body>
    <h3>Заказы</h3>
    <table>
        <tr>
            <td>Идентификатор заказа</td>
            <td>Идентификатор товара</td>
            <td>Количество товаров</td>
            <td>Дата создания</td>
            <td></td>
        </tr>
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.Id</td>
                <td>@phone.GoodsId</td>
                <td>@phone.Quantity</td>
                <td>@phone.DateTimeCreated</td>
                <td><a href="~/Home/Buy/@phone.Id">Купить</a></td>
                <td><a href="~/Home/Buy/@phone.Id">Сделать заказ</a></td>
                <td><a href="~/Order/GetTree/?orderId=@phone.Id">Разложить по заказу</a></td>
            </tr>
        }
        <tr>
            <td><a href="~/Result/GetResult/?date=@DateTime.UtcNow.ToString()">Посчитать остатки по заказам на данный момент</a></td>
        </tr>

        <td><a href="~/Order/Create/">Создать новый заказ</a></td>
        <h2>Добавление нового заказа</h2>
        <h3>Информация о заказе</h3>
        <form method="post" action="Create">
            <div>
                <label for="clientId">Идентификатор клиента:</label>
                <input type="text" name="clientId" value="" />
                <label for="address">Адрес доставки:</label>
                <input type="text" name="address" value="" />
                <label for="goodId">Идентификатор товара:</label>
                <input type="text" name="goodId" value="" />
                <label for="quantity">Количество товара:</label>
                <input type="number" name="quantity" value="" />
                <input type="Submit" value="Добавить" /><br />
                <br />
            </div>
        </form>
    </table>
</body>
</html>
