@using ExternalModels
@model GoodsDto[]
@{
    ViewData["Title"] = "Спецификации";
}

<!DOCTYPE html>

<html>
<head>
    <title>Товары</title>
</head>
<body>
    <h3>Товары</h3>
    <table>
        <tr>
            <td>Идентификатор</td>
            <td>Родитель</td>
            <td>Название</td>
            <td>Количество для 1 товара</td>
            <td></td>
        </tr>
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.Id</td>
                <td>@phone.ParentItemId</td>
                <td>@phone.Name</td>
                <td>@phone.Balance</td>
                <td><a href="~/Goods/GetTree/@phone.Id">Разложить</a></td>
            </tr>
        }
        <form method="post" action="Create">
            <div>
                <label for="name">Название:</label>
                <input type="text" name="name" value="" />
                <label for="quantity">Количество в единице товара:</label>
                <input type="number" name="quantity" value="" />
                <label for="parentItemId">Название:</label>
                <input type="text" name="parentItemId" value="" />
                <label for="price">Цена:</label>
                <input type="text" name="price" value="" />
                <input type="Submit" value="Добавить" /><br />
                <br />
            </div>
        </form>
    </table>
</body>
</html>
