@using ExternalModels.Dto
@model InvoiceDto[]
@{
    ViewData["Title"] = "Поставки";
}

<!DOCTYPE html>

<html>
<head>
    <title>Все заказы</title>
</head>
<body>
    <h3>Заказы</h3>
    <table>
        <tr>
            <td>Идентификатор Товара</td>
            <td>Количество поступления</td>
            <td>Добавления</td>
            <td></td>
        </tr>
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.GoodId</td>
                <td>@phone.Quantity</td>
                <td>@phone.AccountingTime</td>
                <td><a href="~/Invoice/GetTree/?goodId=@phone.GoodId">Разложить по товару на складе</a></td>
            </tr>
        }

        <h2>Добавление/удаление товаров на складе</h2>
        <h3>Информация о товаре</h3>
        <form method="post" action="Create">
            <div>
                <label for="goodId">Идентификатор товара:</label>
                <input type="text" name="goodId" value="" />
                <label for="quantity">Количество товара:</label>
                <input type="number" name="quantity" value="" />
                <input type="Submit" value="Добавить" /><br />
                <br />
            </div>
        </form>

        <td><a href="~/Invoice/GetAllSklad/">Перейти на склад</a></td>
    </table>
</body>
</html>


