@using ExternalModels.Dto
@model List<SkladDto>
@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>

<html>
<head>
    <title>Все заказы</title>
</head>
<body>
    <h3>Заказы</h3>
    <table>
        <tr>
            <td>Идентификатор товара</td>
            <td>Количество на складе</td>
            <td></td>
        </tr>
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.GoodId</td>
                <td>@phone.Count</td>
                <td><a href="~/Invoice/GetTree/?goodId=@phone.GoodId">Разложить по товару на складе</a></td>
            </tr>
        }
    </table>
</body>
</html>